# app

swift/output
swift/.build

# rest

.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# rust

chrome-dev-tools-mcp/target
rust-watcher/target
rust-watcher/output

# python

__pycache__

